.button1{
    border-radius:48%;
    font-size:30px;
    font-family: 'Poppins', sans-serif;
    padding:9px;
    background-color: #273D77;
    color:white;
}
.button1:hover{
    background-color:#1C2F60;
}
.input1{
    font-size:30px;
    height:45px;
    width:4px;
}
.center{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
.element{
    padding-top:10px;
    font-family: 'Poppins', sans-serif;
    font-size:25px;
    background-color:#0C1844;
    
}
.border{
    border: 1px solid black;
  /*border-collapse: collapse;*/
}
.row{
    padding-top:50px;
}
.el1{
    padding-top:25px;
    font-family: 'Poppins', sans-serif;
    font-size:25px;
}
.element1{
    font-family: 'Poppins', sans-serif;
    font-size:25px;
}
.styling{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.header{
    text-align: center;
    font-weight: bold;
}
.td1{
    margin-left:100px;
    font-weight: bold;
}
.zoom{
    transition: transform .2s;
}
.zoom:hover {
    transform: scale(1.1);
  }
.el{
    border-width: 0;
    top: 0;
  }
.t1{
    margin-bottom:50px;
    padding:20px;
    font-weight:bold;
    padding-bottom:2em;
}
.spacing{
    padding-top:1em;
}
.bordered{
    border: 1px solid black;
   border-collapse: collapse;
   text-align:center;
   padding:20px;
}
.th1{
    text-align:center;
    font-weight:bold;
}
.space1{
    padding-left:1em;
}
.sp{
    width:300px;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    background-color: #0C1844; /* Change this to your desired hover background color */
    color: #FFD700; /* Change this to your desired hover text color */
}

.navbar-nav .dropdown-menu > li > a:hover,
.navbar-nav .dropdown-menu > li > a:focus {
    background-color: #0C1844; /* Change this to your desired hover background color for dropdown items */
    color: white; /* Change this to your desired hover text color for dropdown items */
}
.navbar-nav .dropdown.open .dropdown-toggle {
    background-color: #0C1844 !important; /* Same as the navbar background color */
    color: white !important; /* Ensure text color remains white */
}
.footer{
    background-color: #0C1844;;
    
    height:50px;
    width: 100%;
}


